
body {
    display: flex;
    flex-direction: column;
  }
  
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
  
article {
    flex: 2;
    overflow-y: auto;
    align-items: center;
    width: 960px;
    display:block;
    border-top-style: inset;
    border-bottom-style: inset;
    float:left;
    line-height: 13px;
    text-indent: 2px;
    text-align: left;
    background-color: cornflowerblue;
    
    
    
}
  
aside {
    flex: 1;
    overflow-y: auto;
    align-items: baseline;
    width: 480px;
    border-top-style: inset;
    border-spacing: 1000px;
    background-color: blueviolet;
    
    
}
.up{
  height:30px;
  align-items: baseline;
  border-top-style: inset;
  border-bottom-style: inset;
  background-color: gray;
  text-align: justify;
}
.down{
  height: 30px;
  border-top-style: inset;
  border-bottom-style: inset;
  background-color: grey;
}